<label for="search-field">Search specific users:</label>
<input #searchField id="search-field" type="text" [(ngModel)]="terms" (input)="searchUser(searchField.value)" />
<button class="clear" (click)="clearSearchField()" [disabled]="processing">Clear Search</button>

<ul>
  <li *ngFor="let user of users">
    <a routerLink="{{user.id}}">{{ user.firstname }}</a>
  </li>
</ul>

<button class="refresh" (click)="refreshUserList()" [disabled]="processing">Refresh List</button>

<a routerLink="new">Create a new user</a>
