<h2>{{ user.id ? "Edit User " + originalUser!.firstname : "New User" }}</h2>

<form #userForm="ngForm" (ngSubmit)="saveUser()" ngNativeValidate>
  <label>
    Firstname:
    <input type="text" [(ngModel)]="user.firstname" name="firstname" required #firstname="ngModel" />
    <span [hidden]="firstname.valid || firstname.pristine">Username is required.</span>
  </label>
  <label>
    Lastname:
    <input type="text" [(ngModel)]="user.lastname" name="lastname" required #lastname="ngModel" />
    <span [hidden]="lastname.valid || lastname.pristine">Lastname is required.</span>
  </label>

  <button type="submit" [disabled]="processing || !userForm.form.valid">Save</button>
</form>

<button *ngIf="user.id" type="button" (click)="refreshUser()" [disabled]="processing">Refresh User</button>
<button *ngIf="user.id" type="button" (click)="deleteUser()" [disabled]="processing">Delete User</button>
<button *ngIf="!user.id" type="button" (click)="userForm.reset()" [disabled]="processing">Clear Form</button>
<button type="button" (click)="cancelEdit()" [disabled]="processing">Cancel</button>
